#container {
	margin-top: 30px;
	margin-left: 300px;
	margin-right: 300px;

	padding: 10px 150px 10px 150px;

	border-radius: 30px;
	background-color: #86D5ED;

	text-align: left;
}

#content-contact {
	 text-align: center;	
}

head {
  background-image: url("https://scontent.ffcm1-1.fna.fbcdn.net/v/t1.0-9/20031643_10213719161716120_2061324880485489252_n.jpg?_nc_cat=109&_nc_sid=7aed08&_nc_ohc=nKdxxFPVmNIAX_GU1BR&_nc_ht=scontent.ffcm1-1.fna&oh=f6e949a76fff6432845db4a1b3c7bb05&oe=5F098EEE");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;	
}
h1 {
	margin-bottom: -20px;
	font-size: 50px;
	font-family: Impact, Charcoal, sans-serif;
	text-decoration: underline;
}
h2 {
	margin-bottom: -20px;
	font-weight: 900;
}

h3 {
	margin-bottom: -15px;
	
}
h4 {
	margin-bottom: -15px; 
	font-weight: bold;
}
