#container {
	margin-top: 30px;
	margin-left: 300px;
	margin-right: 300px;

	padding: 10px 150px 10px 150px;

	border-radius: 30px;
	background-color: #86D5ED;

	text-align: left;
}

#content-contact {
	 text-align: center;	
}
h1 {
	margin-bottom: -20px;
	font-family: Impact, Charcoal, sans-serif;
}
h2 {
	margin-bottom: -20px;
}
h4 {
	margin-bottom: -15px; 
	font-weight: bold;
}
